body{
    font-family:'Raleway';   
    font-size:10px;
    margin:0 2% 0 2%;
}



#HeaderPage {
    width:100%;
    display: grid;
    grid-template-areas: "logo . menu insc";
    grid-template-rows: 100%;
    grid-template-columns: 10% auto 30% 10%;
 
    margin:0 0 4em 0;
    height: 7em;
    padding:0;    
    font-size: 1vw;
}


#logo{
    padding-top: 4em; 
    width:100%;
    height:100%;
    margin-right:auto;
    grid-area: logo;
} 


#logo img{        
    width:100%;
    margin:0;
}

@media (max-width: 768px) {
    #HeaderPage {
        height: 12em;
        padding:0;    
        font-size: 1.8vw;

        grid-template-columns: 50%  50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "logo insc" 
        "menu menu";
        justify-items:center;
    }


    #logo{
        margin:0;
        padding:1.8em 0 0 0 ;         
    }

    #logo img{
        margin:0;
        padding:0; 
        width:50%;
        display: block;
        margin:0 auto;

    }
}


/*########
    MENU 
    #######*/

#menunav{
    grid-area: menu;

}

.menu{ 
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height:100%;

    margin:0;
    padding:0;
}

.menuitem{
    height:100%;
    width:20em;

    box-sizing: border-box;
    font-size:2em;
    margin-top:3px;  

    padding-left : 5%;
    padding-right : 5%;  
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
}

.menuitem a{
    color:black;
    font-weight: bold;
    font-size: 0.8em;
    width:100%;
    text-decoration: none;    
    text-align:center;
    box-sizing: border-box;
}


#menuinscrire{  
    grid-area: insc;
    
}


#menuinscrire a{  
    color:#0065FC;
    
}

#menuhebergement:hover, #menuactivite:hover{
    box-sizing: border-box;
    border-top:6px solid #0065FC;    
}

#menuhebergement:hover>a, #menuactivite:hover>a{
    color:#0065FC;
}

@media (max-width: 768px) {
    #menuhebergement, #menuactivite{
        border-bottom:4px solid #F2F2F2; 
        margin-top: 4em;
        margin-bottom: 2em;
    }

    .menuitem a
    {
        font-size:1.2em;
    }
    
   

    #menuinscrire a {
        text-align:right;
        padding-right:0.8em;
    }

    #menuhebergement:hover, #menuactivite:hover{
        box-sizing: border-box;
        border-top:0px;
        border-bottom:4px solid #0065FC; 
    }
}

/*#############
SOUS TITRE
#############*/

#SousTitre h1{
    margin: 0;
    font-size:2.2em;  
    font-weight: 700;
    margin:10% 2% 2% 2%;
}

#SousTitre p{
    font-size:2em; 
    margin:2% 2% 2% 2%;
}



/*#############
RECHERCHE
#############*/



#RechercheVille{
    height:5.5em;
    margin-top: 1.5em;
    margin-bottom: 4em;
    display: flex;
    flex-direction:row;

}

.fa-map-marker-alt{
    background-color: #F2F2F2;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
 /*    width: 0 auto; */
    font-size: 2.4em;
    padding: 0.6em 0.6em 0.2em 0.8em;
    text-align: center;
    box-sizing: border-box;

}

#villecherchee{
    margin:0;
    padding-left:0.8em;
    font-size: 2em;
    border: 1px solid #F2F2F2;
}


#BoutonRechercher{
    height: 100%;
    margin:0;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    border: 1px solid #F2F2F2;
    color:white;
    font-size:2em;
    background-color:#0065FC;
    padding-left: 1em;
    padding-right:1em;
    box-sizing: border-box;   
}




.fa-search
{
    display:none;
}


@media (max-width: 768px) {

    #RechercheVille{
        margin-top:3.5em;
        font-size: 2.5vw;
        box-sizing: border-box;   
    }

    .fa-search
    {
        display:block;    
    }

    #BoutonRechercher{
        border-top-left-radius: 0.7em;
        border-bottom-left-radius: 0.7em;
    }

    #BoutonRechercher span{
        display:none;
    }

}

/*########
    FILTRES 
    #######*/

#FiltresGeneral
{
    display:flex;
    flex-direction: row;    
    margin-bottom:1.5em;
    width:100%;
    align-items:center;
    font-size: 16px;
}



#Filtretitre{
    width:5em;
    font-size: 0.7em;
    font-weight: bold;   
    align-content: center;
}

#Filtretitre p{
    margin:0;
    font-size: 1.5em;
}

#Filtres
{
    display:flex;
    flex-direction: row;
    justify-content: start;

    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height:100%;
    box-sizing: border-box;
}


.filtrebtn{
    display:flex;
    width:12em;
    height:3em;
    flex-direction:row;
    padding:0;
    margin: 0 1em 1em 0;

    color:#0065FC; 

    border-radius:2em;
    border:3px solid #F2F2F2;
    background-color: white;
    font-size: 1.2em;
}

.filtrebtn:hover{
    border:3px solid #0065FC;
}

.filtrebtn p{
    margin:0;
    padding:0;
} 

/*Bouton animaux + long */

#filtrebtnani{
    width:18em;
}

/*Bouton famille + court */

#filtrebtnfam{
    width:10em;
}

.ifiltre{
    background-color: #DEEBFF  ;
    border-radius: 50%;
    width:3.3em;
    height:3em;
    padding-top: 0.95em;
    text-align: center;
    box-sizing: border-box;
    margin:0;
}


.filtrebtn p{
    width:85%;
    height:100%;
    color:black;
    padding-top: 0.5em;
    text-align: center;
    box-sizing: border-box;
    border-radius:2em;
    font-size: 1.3em;
    font-weight: bold;
    flex-wrap: nowrap;
    background-color: white;
}


@media (max-width: 768px) {
    #FiltresGeneral {
        flex-direction: column;
        font-size: 3.1vw;
        align-items:flex-start;
    }

    #Filtretitre{
        margin-left: 0.8em;
        margin-bottom: 0.5em;
        font-size: 4vw;
    }
}



#Nombreslogements{
    font-size:2em;
    margin-bottom: 2.5em; 
    display: grid;
    grid-template-areas: "info nblogement";
    grid-template-rows: 100%;
    grid-template-columns: 3em auto;
    grid-row-gap:0;

}

.fa-stack
{
    vertical-align: middle;
    margin:0;
    grid-area: info;
}

.fa-info{
    color:#0065FC
}

.fa-circle{
    color: #f2f2f2;  
}


#NombreslogementsText{
    grid-area: nblogement;
}

@media (max-width: 768px) {
    #Nombreslogements{
        font-size:4vw;
        margin-bottom: 2.5em;   
        
        grid-template-columns: 4em auto;
    }
    
     .fa-stack{
        font-size:1.5em;
    }

    #NombreslogementsText{
        font-size:1em;
        padding-top: 0.3em;
    } 
}



article a{
    text-decoration: none; 
    color: black; 
}

/*########
    HEBERGEMENT 
    #######*/


#HebergementsGeneral{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    font-size: 0.8vw;

}

@media (max-width: 768px) {
    #HebergementsGeneral {
        flex-direction: column-reverse;
        justify-content: flex-start;  
        align-items: center;
        margin: 0 -2%;
        width:104%;
    }
}

#HebergementHeader {
    padding-left:0.9em;
    font-size: 2em;
    font-weight: bold;
    margin:0.6em 0 0 0;
}

#HebergementsRecherche{
    display: flex;
    flex-direction:column;    
    width:70%; 
    height:100%;
    padding-left: 0.6em;
    border-radius: 25px;
    background: #F2F2F2 ;
}

#HebergementsContenu{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: start;
    align-items:flex-start;
    justify-content:space-between;
    margin:0 2.5% 0 2.5%; 
    padding:0;  
    box-sizing: border-box;  
}

.HebergementArticle{
    margin:0 0 5% 0 ; 
    padding:0;
    width: 20vw;   
    height:15vw;
}


.HebergementFigure{   
    margin:0;   
    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    border-radius: 2em;
    background: white ;
    padding:0.5em; 
    box-sizing: border-box;
    box-shadow: 0.1em 0.1em 0.5em 0.1em grey;
}

.HebergementFigure figcaption{
    margin-left: 3%;
    height: 40%;   
}

.HebergementFigure h5
{
    margin:0;
}

.HebergementImg{  
    margin:0;
    padding:0; 
    width:100%; 
    height: 60%; 

    object-fit: cover;

    border-top-left-radius: 2em;
    border-top-right-radius: 2em;  
}

.HebergementTitre{
    font-weight: bold;
    margin-left:0.3em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 2em;
}


.HebergementTarif{
    margin:0;
    margin-left:0.3em;
    margin-bottom: 0.3em;
    font-size: 1.6em;
}

.HebergementNotation{
    display: flex;
    flex-direction:row;
    margin-left:0.3em;
    margin-bottom: 0.4em;
    font-size: 1.6em;
}

.HebergementEtoile{
    margin:0;
    color:#0065FC;
}

.stargrise
{
    color:#F2F2F2;
}

#HebergementFooter{
    margin-top:0;
    padding-top:0;
    padding-left: 0.6em;
    font-size: 2.1em;  
    font-weight: bold;    
}

@media (max-width: 768px) {

    #HebergementsRecherche{
        width:100%;
        font-size: 2.5vw;
        background-color:white;
        border-radius:0;
       
    }



    #HebergementsContenu{
        flex-direction:column;
        width:94%;
        margin : 0 3% 0 3%;
    }


    .HebergementArticle{
        width: 100%;
        height:50vw;
    }
}

/*########
    POPULAIRE 
    #######*/


aside{
    width:27%;
    min-width: 250px;
    height:100%;
    border-radius: 0.9em;
    background: #F2F2F2 ;
    padding-bottom: 2%;
  
}

#PopulaireHeader{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;    
    margin:0;
}



#PopulaireHeader h3{ 
    font-size: 2em;
    font-weight: bold;
}

#PopulaireHeader i{
    font-size: 2.8em;
    margin-bottom: 0.2em;
    font-weight: bold;
}

#PopulaireContenu{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content:space-between;
    margin:0;     
    width:100%;
    height: 100%;
}

.PopulaireArticle{ 
    margin:0 1.5em 3em 1.5em;
    padding:0;
    box-sizing: border-box;
    height:13em;
}

.PopulaireFigure
{    
    margin:0;
    padding:0.4em 0.4em;
    box-sizing: border-box;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:start;
    border-radius: 0.9em;
    background: white ;
    box-shadow: 0.1em 0.1em 0.5em 0.1em grey;
}

.PopulaireImg{
    box-sizing: border-box;
    width:40%; 
    height: 100%; 
    object-fit: cover;
    border-top-left-radius: 0.9em;
    border-bottom-left-radius: 0.9em;   
}

.PopulaireFigCaption{
    margin-left: 1.3em;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
}


.PopulaireFigCaption h5
{
    font-weight: bold;
    font-size: 1.6em;    
    margin-top: 0.3em;
    margin:0;
}

.PopulaireTarif{
    font-size: 1.6em;
    margin-top: 0.4em;
}

.PopulaireNotation{
    display: flex;
    flex-direction:row;
    margin-bottom: 5px;
    margin-top: auto;
}

.PopulaireEtoile{
    margin:0;
    font-size: 1.6em;
    color:#0065FC;
}


@media (max-width: 768px) {
    #HebergementsGeneral {
        flex-direction: column-reverse;
        align-items: center;
    }
    aside{
        width:100%;
        font-size: 2.8vw;
        border-radius: 0;
        
    }

    .PopulaireArticle{ 
        height:35vw;
    }
}

/*########
ACTIVITES
########*/



#Activites{
    margin-top: 4em;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8vw;
}


#ActiviteHeader h3{
    font-weight: bold;
    font-size: 2.8em;
}

#ActiviteContenu
{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    height:30vw;
    margin:0;
    padding:0;
}


.ActiviteArticlecourt{
    height: 36%;
    width:22%;
    margin:0;
    padding:0;
    box-shadow: 0.1em 0.1em 0.5em 0.1em grey;
    border-radius: 2em;
  

}

.ActiviteArticlemoyen{
    height: 56%;
    width:22%;
    margin:0;
    padding:0;
    box-shadow: 0.1em 0.1em 0.5em 0.1em grey;
    border-radius: 2em; 
}

.ActiviteArticlelong
{
    height: 100%;
    width:22%;
    margin:0;
    padding:0;
    box-shadow: 0.1em 0.1em 0.5em 0.1em grey;
    border-radius: 2em;
}

.ActiviteArticlelongFigure{
    height:  100%;
    margin:0;
    padding:0;
}


.ActiviteArticlemoyenFigure{
    height:  100%;
    margin:0;
    padding:0;
}

.ActiviteArticlecourtFigure{
    height:  100%;
    margin:0;
    padding:0;
}


 .ActiviteImg{
    margin:0;
    padding:0;  
    width:100%; 
    object-fit: cover;
    object-position: 50% 35%;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;  
}

.ActiviteArticlecourtFigure .ActiviteImg{
    height: 64%; 
}

.ActiviteArticlemoyenFigure .ActiviteImg{
    height: 78%; 
}

.ActiviteArticlelongFigure .ActiviteImg{
    height: 85%; 
}

#Activites figcaption{
    height: auto;
    display:flex;
    flex-direction:column;
}

#Activites h4{
    font-weight: bold;
    font-size: 1.7em;
    padding-left:1.1em;
    padding-top: 0.8em;
    margin: 0;
}


@media (max-width: 768px) {

    #Activites{
        font-size: 1.8vw;
    }
    #ActiviteContenu {
        height:100%;
        width:96%;
        padding:0 2% 0 2%;
    }

    .ActiviteArticlecourt, .ActiviteArticlemoyen, .ActiviteArticlelong{
        height: 40vw;
        width:100%;
        margin-bottom:5%;
        padding:0;
    }

    .ActiviteArticlecourtFigure .ActiviteImg, .ActiviteArticlemoyenFigure .ActiviteImg, .ActiviteArticlelongFigure .ActiviteImg{
        height:75%;
    }
}

/* 
FOOTER */


#FooterPage{
    margin-top:5%;
    margin-left: -2%;
    margin-right: -2%;
    padding:2.5em 2.5em 2.5em 2.5em;
    background-color: #F2F2F2;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5vw;
}

#FooterPageText{
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#FooterPage p{
    margin: 0.5em 0 0 0;
    padding:0;
}


@media (max-width: 768px) {


#FooterPage {
    font-size: 4.7vw;
    padding:0 1.5em 2.5em 1.5em;
}

    #FooterPageText{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #FooterPageText div{
        margin-top: 15%;
    }

}